h1,
h2 {
  margin: 0;
}

.italic {
  font-style: italic;
}
.debug-border {
  border-width: 2px;
  border-style: solid;
  border-color: red;
}

section.section-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.img-wrapper {
  background: bisque;

  position: relative;
}

div.img-wrapper > header {
  position: absolute;
  top: 10px;
  left: 0;
}

.fake-img {
  height: 200px;
  background: gray;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px;
}

div.input {
  height: 20px;
  background-color: aquamarine;
  border: 1px solid black;
}
